# Ignore all node_modules
**/node_modules
**/vendor

# Ignore environment files
**/.env
**/.env.local
**/.env.*.local

# Ignore build directories
**/dist
**/build
**/public/storage

# Ignore system files
.DS_Store
Thumbs.db

# Laravel specific
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/.phpunit.result.cache

# Vite/React specific
frontend/stats.html
